In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, roc_auc_score

In [2]:
data = pd.read_csv("/home/stranger/Downloads/playground/playground-series-s3e2/train.csv")
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [3]:
data['gender'].value_counts()

Female    9446
Male      5857
Other        1
Name: gender, dtype: int64

In [4]:
data['work_type'].value_counts()

Private          9752
children         2038
Self-employed    1939
Govt_job         1533
Never_worked       42
Name: work_type, dtype: int64

In [5]:
data['ever_married'].value_counts()

Yes    10385
No      4919
Name: ever_married, dtype: int64

In [6]:
data['Residence_type'].value_counts()

Rural    7664
Urban    7640
Name: Residence_type, dtype: int64

In [7]:
data['smoking_status'].value_counts()

never smoked       6281
Unknown            4543
formerly smoked    2337
smokes             2143
Name: smoking_status, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, roc_auc_score

In [9]:
data.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [11]:
categorical_columns = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [12]:
le = LabelEncoder()
for cat in categorical_columns:
    data[cat] = le.fit_transform(data[cat])

In [13]:
data.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [14]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,28.0,0,0,1,2,1,79.53,31.1,2,0
1,1,1,33.0,0,0,1,2,0,78.44,23.9,1,0
2,2,0,42.0,0,0,1,2,0,103.00,40.3,0,0
3,3,1,56.0,0,0,1,2,1,64.87,28.8,2,0
4,4,0,24.0,0,0,0,2,0,73.36,28.8,2,0

In [15]:
df = data.drop(['id'], axis=1)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,28.0,0,0,1,2,1,79.53,31.1,2,0
1,1,33.0,0,0,1,2,0,78.44,23.9,1,0
2,0,42.0,0,0,1,2,0,103.00,40.3,0,0
3,1,56.0,0,0,1,2,1,64.87,28.8,2,0
4,0,24.0,0,0,0,2,0,73.36,28.8,2,0

In [16]:
y = data['stroke']
X = df.drop(['stroke'], axis=1)
print(X.shape)
print(y.shape)

(15304, 10)
(15304,)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=.1, shuffle=True)

In [18]:
model = RandomForestClassifier()
model.fit(x_train, y_train)
model.score(x_train, y_train)

1.0

In [19]:
y_preds = model.predict(x_test)
y_preds

array([0, 0, 0, ..., 0, 0, 0])

In [20]:
sum(y_preds == y_test) / len(y_test)

0.9575440888308295

In [21]:
test_data = pd.read_csv('test.csv')
test_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes

In [22]:
for cat in categorical_columns:
    test_data[cat] = le.fit_transform(test_data[cat])

test_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,0,57.0,0,0,1,2,0,82.54,33.4,0
1,15305,1,70.0,1,0,1,2,1,72.06,28.5,0
2,15306,0,5.0,0,0,0,4,1,103.72,19.5,0
3,15307,0,56.0,0,0,1,0,1,69.24,41.4,3
4,15308,1,32.0,0,0,1,2,0,111.15,30.1,3

In [23]:
test_df = test_data.drop(['id'], axis=1)

In [26]:
test_preds = model.predict_proba(test_df)[:, 1]

In [27]:
test_preds

array([0.02, 0.42, 0.  , ..., 0.  , 0.  , 0.  ])

In [28]:
ss = pd.read_csv('sample_submission.csv')
ss.head()

      id    stroke
0  15304  0.041296
1  15305  0.041296
2  15306  0.041296
3  15307  0.041296
4  15308  0.041296

In [29]:
ss['stroke'] = test_preds
ss.head()

      id  stroke
0  15304    0.02
1  15305    0.42
2  15306    0.00
3  15307    0.28
4  15308    0.00

In [30]:
ss['stroke'].value_counts()

0.00    5547
0.01    1069
0.02     535
0.03     385
0.05     288
        ...
0.71       1
0.62       1
0.61       1
0.64       1
0.68       1
Name: stroke, Length: 69, dtype: int64

In [31]:
ss.to_csv('submission.csv', index=False)